<?xml version="1.0"?>
<!-- Launch único: Gazebo + robot_state_publisher + EKF (robot_localization ou
     ekf_uwb, ver arg localizacao) + RViz + teleop + gravação do percurso. -->
<launch>
  <arg name="mundo" default="$(find projeto_agrobot_uwb)/worlds/campo_agricola.world"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="teleop" default="true"/>
  <arg name="gravar" default="true"/>
  <arg name="localizacao" default="robot_localization"/>  <!-- robot_localization | ekf_uwb -->

  <include file="$(find projeto_agrobot_uwb)/launch/gazebo.launch">
    <arg name="mundo" value="$(arg mundo)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="yaw" value="$(arg yaw)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <include file="$(find projeto_agrobot_uwb)/launch/display.launch">
    <arg name="rviz" value="$(arg rviz)"/>
  </include>

  <include file="$(find projeto_agrobot_uwb)/launch/localizacao.launch">
    <arg name="metodo" value="$(arg localizacao)"/>
    <arg name="origem_x" value="$(arg x)"/>
    <arg name="origem_y" value="$(arg y)"/>
    <arg name="origem_yaw" value="$(arg yaw)"/>
  </include>

  <group if="$(arg teleop)">
    <include file="$(find projeto_agrobot_uwb)/launch/teleop.launch"/>
  </group>

  <!-- Grava o percurso automaticamente em bags/percurso_<timestamp>.bag, sem
       precisar lembrar do comando manual do README. Desative com
       gravar:=false se não quiser gerar o arquivo (ex.: teste rápido). -->
  <group if="$(arg gravar)">
    <node pkg="rosbag" type="record" name="rosbag_record_percurso"
          args="-o $(find projeto_agrobot_uwb)/bags/percurso /odom /imu /odometry/filtered /cmd_vel"
          output="screen"/>
  </group>
</launch>
